{% set slides_html = '' %}
{% set has_thumbnails_nav = 'thumbnails' in fields.slider_options.slider_settings %}

<div {{ wrapper_attributes }} data-block-id="{{ block.id }}">
  <div class="b-slider__inner alignfull">
    {% if fields.acf_block_slider_slides is not empty %}
      {% for slide in fields.acf_block_slider_slides %}
        {% if slide.acf_bs_image %}
          {% set slides_html %}
            {{ slides_html }}

            <div class="b-slider__slide swiper-slide" {% if has_thumbnails_nav %}data-thumbnail-url="{{ get_image(slide.acf_bs_image).src('medium') }}"{% endif %}>
              {{ get_responsive_image(slide.acf_bs_image, (block.align == 'full' ? 'full' : 'large'), {fetchpriority: loop.first ? 'high' : 'auto'}) }}
            </div>
          {% endset %}
        {% endif %}
      {% endfor %}

      {% include 'components/slider.twig' with {
        slides_html,
        params: {
          'slides-per-view': 1,
          block_settings: fields.slider_options
        }
      } %}
    {% else %}
      {% include 'partials/block-edit-button.twig' with {'block_name': 'slider'} %}
    {% endif %}
  </div>
</div>
